@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #010104;
  overflow-x: hidden;
}

.sec2 {
  background: #010104;
  background: linear-gradient(180deg, #010104, #0a090e);
}

.squares {
  background-image: repeating-linear-gradient(
      #3a3a3a 0 0px,
      transparent 1px 100%
    ),
    repeating-linear-gradient(90deg, #3a3a3a 0 0px, transparent 1px 100%);
  background-size: 150px 150px;
}
